body {
	background-color: skyblue;
}

#pagelayout {
	height: 100%;
	width: 100%;
	margin: 0px;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 20% 80%;
}

#topright {
	grid-template-areas: 1/1/2/2;
}

#topleft {
	grid-template-areas: 1/2/2/3;
}

#bottomleft {
	grid-template-areas: 2/2/3/3;
}

#bottomright {
	grid-template-areas: 2/1/3/2;
	display: flex;
	flex-direction: Column;
}

#leftright {
	display: flex;
	height: 60%;
	width: 100%;
	flex-direction: row;
}

#left {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0.2;
	text-align: center;
}
#right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0.2;
	text-align: center;
}
#carouselcontainer {
	flex-grow: 0.8;
	display: flex;
	margin: auto;
	border: 2px black solid;
	background-color: darkblue;
	margin: 10px;
	border-radius: 10px;
	color: gray;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-size: cover;
}
#carouseldots {
	gap: 10px;
	padding-top: 10px;
	height: 40%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	border: 2px green solid;
	text-align: Center;
}

.circle {
	height: 40px;
	width: 24px;
	border-radius: 16px;
	background-color: gray;
}
#dropdowncontainer {
	display: none;
}

#dropdowncontainer:hover {
	display: flex;
	flex-direction: column;
	background-color: beige;
	gap: 5px;
}

#dropdownitem:hover {
	display: flex;
}
#visible {
	display: flex;
	flex-direction: column;
	background-color: beige;
	gap: 5px;
}
